.navbar-btn-container {
	display: flex;
	justify-content: flex-end;
	margin: 25px 0px 25px 0px;
}

button {
	background-color: #fff;
	border-color: #000;
	color: #000;
	margin-right: 15px;
	width: 100px;
}

button:hover {
	background-color: aliceblue;
	border-color: aliceblue;
}
